body {
    
    background-image: url("http://www.psdgraphics.com/file/dark-metal-texture.jpg");  
    
}
h1,h2,h3,figcaption,img{

color: white;
text-align: center;
}
table{
	margin: 0 auto;
	color: white;
text-align: center;
}
